<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs">
        <h1>All Blogs</h1>

        <% if(blog.length > 0) { %>
        <% blog.forEach(item => { %>
        <div>
            <a href="/blogs/<%= item._id %>">
                <h3>Title : <%= item.title %></h3>
                <p><%= item.snippet %></p>
            </a>
        </div>

        <% }) %>
        <% } else { %>
        <p>Tidak ada blog untuk di tampilkan</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>