<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>All Blogs</h1>

    <% if(blog.length > 0) { %>
    <% blog.forEach(item => { %>

    <a href="/blogs/<%= item._id %>">
        <h1><%= item.title %></h1>
        <p><%= item.snippet %></p>
    </a>

    <% }) %>
    <% } else { %>
    <p>Tidak ada blog untuk di tampilkan</p>
    <% } %>

    <%- include('./partials/footer.ejs') %>
</body>

</html>